body {
  font-family: sans-serif;
}

input {
  outline: none;
  font-size: 1em;
  min-width: 16em;
  padding: 8px;
  border: 2px solid #212121;
  border-radius: 8px;
  color: #212121;
}

h1 {
  padding: 0;
  margin: 0.5em 0;
}

ul {
  padding: 0;
  margin: 1em ;
}

label {
  margin: 0em 0.5em;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 0.5em;
  background-color: crimson;
  color: white;
  padding: 1em 1em;
  margin: 0.5em 0.5em;
}

button:hover {
  background-color: orangered;
}

ul li input[type=text] {
  display: none;
  margin: 0em 0.5em;
  padding: 8px;
}

ul li.editMode input[type=text] {
  display: block;
  border-color: orange;
  min-width: 12em;
}

ul li label {
  outline: none;
  font-size: 1em;
  min-width: 12em;
  padding: 8px;
  border-radius: 8px;
  color: #666;
  border: 2px solid green;
}

ul li.editMode label {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0em 4em;
}

.mainInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.listContainer {
  flex: 1;
}

.titleInput {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-right: 2em;
}

.inputOption {
  margin: 0.5em 0em;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}

.inputOption button {
  margin-left: 2em;
}

.itemInput {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1em 0;
  border: 1px solid #ddd;
  cursor: move;
  padding: 1em 0;
}

.itemInput:hover {
  background-color: #f7f7f7;
}

.line {
  margin-top: 8px;
  border-bottom: 1px solid #666;
}